<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <h1>Log in</h1>
      <p>You're only as sick as your secrets.</p>

      <%= form_tag sessions_path, class: "form-horizontal" do %>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], placeholder: "Email" %>
        <br />
        <%= label_tag :password %>
        <%= password_field_tag :password, placeholder: "Password" %>
        <br />
        <%= submit_tag "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

