<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Meeting Name" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <%#= f.text_field :latitude %>
  <%#= f.text_field :longitude %>  
  <div class="field">
    <%= f.label :time %><br />
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :closed_meeting %>
      Closed meeting?
    </label>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "100x5", placeholder: "Enter meeting description here" %>
  </div>
  
  <div class="field">
    <h3>Days of Week</h3>
    <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |day| %>
      <label class="checkbox inline">
        <%= f.check_box day %> <%= day %>
      </label>
    <% end %>
  </div>
  
  <div class="field span12">
    <h3>Meeting Tags</h3>
      
  </div>
  
  <div class="actions span12">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
