<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Meeting Name" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <%#= f.text_field :latitude %>
  <%#= f.text_field :longitude %>  
  <div class="field">
    <%= f.label :time %><br />
    <%= f.select :time, [ 
         ["6am", 600], ["7am", 700], ["8am", 800], ["9am", 900], ["10am", 1000], ["11am", 1100], ["12pm", 1200], ["1pm", 1300], ["2pm", 1400], ["3pm", 1500], ["4pm", 1600], ["5pm", 1700], ["6pm", 1800], ["7pm", 1900], ["8pm", 2000], ["9pm", 2100], ["10pm", 2200], ["11pm", 2300], ["12am", 2400], ["1am", 100], ["2am", 200], ["3am", 300], ["4am",400], ["5am", 500]
    ], class:'meeting-time'%>
    
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.select :duration, [ ["1 hour", 100], ["1.5 hours", 150], ["2 hours", 200] ], class:'meeting-duration'%>
  </div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :closed_meeting %>
      Closed meeting?
    </label>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "100x5", placeholder: "Enter meeting description here" %>
  </div>
  
  <div class="field">
    <h3>Days of Week</h3>
    <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |day| %>
      <label class="checkbox inline">
        <%= f.check_box day %> <%= day %>
      </label>
    <% end %>
  </div>
  
  <div class="field span12">
    <h3>Meeting Tags</h3>
    <% [:speaker, :childcare, :book_study, :mens, :womans, :gay].each do |tag| %>
      <label class="checkbox inline">
        <%= f.check_box tag %> <%= tag %>
      </label>
    <% end %> 
  </div>
  
  <div class="actions span12">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
