<tr class="meeting-listing">
  <td class="meeting-listing-info">
    <h4 class="meeting-listing-title"><%= link_to truncate(meeting.title, length: 35), meeting, title: meeting.title %></h4>
    <h5 class="meeting-listing-address-title"><%= truncate(meeting.address, length: 45) %> <span class="distance">(<%= meeting.distance.to_f.round(2) %> miles)</span></h5>
  </td>
  
  <td class="meeting-listing-isclosed">
    <%= image_tag "icon-closed-meeting.png", data: { toggle: "tooltip" }, title: "Closed Meeting" if meeting.closed_meeting %>
  </td>
  
  <td class="meeting-listing-time"><p><%= fomat_time(meeting.time) %></p></td>
</tr>

<% if current_user %>
<tr class="meetings-controls">
  <td colspan="2">      
      <%= link_to 'Show', meeting, class: "meeting-list-show btn btn-mini"%>
      <%= link_to 'Edit', edit_meeting_path(meeting), class: "btn btn-mini" %>
      <%= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, remote: true, class: "meeting-list-delete btn btn-mini btn-danger" %>
  </td>
</tr>
<% end %>
