  <tr class="meeting-listing">
    <td class="meeting-listing-info">
      <h4 class="meeting-listing-title"><%= link_to meeting.title, meeting, remote: true %></h4>
      <span class="meeting-listing-address"><%= meeting.address %></span>
      <% if params[:search].present? %>
        <span>(<%= meeting.distance.to_f.round(2) %> miles away)</span>
      <% end %>
      
      <%= "Closed Meeting" if meeting.closed_meeting %>
      
      <%#= render 'days_of_week_tags', :meeting => meeting  %>
    </td>
    <td class="meeting-listing-time"><%= fomat_time(meeting.time) %> to <%= get_meeting_end_time(meeting.time, meeting.duration) %></td>
  </tr>
  <% if current_user %>
  <tr class="meetings-controls">
    <td colspan="2">      
        <%= link_to 'Show', meeting, class: "meeting-list-show btn btn-mini"%>
        <%= link_to 'Edit', edit_meeting_path(meeting), class: "btn btn-mini" %>
        <%= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, remote: true, class: "meeting-list-delete btn btn-mini btn-danger" %>
    </td>
  </tr>
  <% end %>
