<h2><%= @meeting.title %></h2>
<p><strong><%= @meeting.address %></strong></p>
<p><%= fomat_time @meeting.time %> to <%= get_meeting_end_time @meeting.time, @meeting.duration %></p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=370x300&sensor=false&zoom=16&markers=#{@meeting.latitude}%2C#{@meeting.longitude}" %>
<p><%= @meeting.description %></p>

<%= render 'tags', :meeting => @meeting %>

<% unless @meeting.nearbys(10).blank? %>
<h5>Nearby meetings</h5>
<ul class="unstyled">
<% for meeting in @meeting.nearbys(10) %>
  <li><%= link_to meeting.title, meeting %> <%= meeting.address %> (<%= meeting.distance.to_f.round(2) %> miles)</li>
<% end %>
</ul>
<% end %>