<% title "All The District 19 AA Meetings" %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    function initialize() {

      var mapOptions = {
        // zoom: 9,
        center: new google.maps.LatLng(<%= @map_location.latitude %>, <%= @map_location.longitude %>),
        mapTypeControl: false,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'),
                                    mapOptions);
      
      var locations = <%= @all_results.to_s.html_safe %>
      
      // ==========
      // = Bounds =
      // ==========
      var LatLngList = new Array ();
      var bounds = new google.maps.LatLngBounds();
      
      for (i = 0; i < locations.length; i++) {  
        LatLngList.push( new google.maps.LatLng(locations[i].latitude, locations[i].longitude) )
        bounds.extend (LatLngList[i]);
      }
      map.fitBounds (bounds);
      
      // ===========
      // = Markers =
      // ===========
      var marker
      var image = '<%= asset_path "aa-map-marker.png" %>';
      var i;
      
      // http://gmaps-samples-v3.googlecode.com/svn/trunk/infowindow_custom/infowindow-custom.html
      // http://stackoverflow.com/questions/8881577/google-map-api-infobox-and-for-loop
      var infowindow = new google.maps.InfoWindow(); // info windows
      
      for (i = 0; i < locations.length; i++) {  
        // plot the markers
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i].latitude, locations[i].longitude),
          map: map,
          icon: image
        });
                
        // add listener for popup
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent('<div id="infoWindowContent"><h3>'+locations[i].address + '</h3><p>'+ locations[i].distance +'</p></div>');
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
      
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    

</script>
  
<div class="meetings-body container">   
  <div class="row-fluid">
    <div class="meetings-listings-container span12">
      
        <div class="meetings-map-container">
          <div id="map-canvas" class="meetings-map-canvas"></div>
        </div>
      
        <div class="meetings-search-container">
            <%= form_tag meetings_path, :method => :get, class: "meetings-search-form navbar-form pull-left form-inline" do %>
              <!-- query -->
              <% if (params[:search]) %>
                <%= text_field_tag :search, params[:search], placeholder: "Search for a meeting in city, zipcode etc...", class: "input giant-input" %>
              <% else %>
                <%= text_field_tag :search, "#{@user_location.city}", placeholder: "Search for a meeting in city, zipcode etc...", class: "input giant-input" %>
              <% end %>
            
              <%= submit_tag "Search", :name => nil, class: "giant-search-btn btn" %>
            <% end %>
        </div>
        
        <%= debug Time.now.sunday? %>
        
        <ul class="nav nav-tabs">
          <li class="active"><a href="#mon" data-toggle="tab">Mon</a></li>
          <li><a href="#tue" data-toggle="tab">Tue</a></li>
          <li><a href="#wed" data-toggle="tab">Wed</a></li>
          <li><a href="#thu" data-toggle="tab">Thu</a></li>
          <li><a href="#fri" data-toggle="tab">Fri</a></li>
          <li><a href="#sat" data-toggle="tab">Sat</a></li>
          <li><a href="#sun" data-toggle="tab">Sun</a></li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane active" id="mon">
            <% unless @meetings_on_monday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_monday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane" id="tue">
            <% unless @meetings_on_tuesday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_tuesday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane" id="wed">
            <% unless @meetings_on_wednesday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_wednesday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane" id="thu">
            <% unless @meetings_on_thursday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_thursday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane" id="fri">
            <% unless @meetings_on_friday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_friday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane" id="sat">
            <% unless @meetings_on_saturday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_saturday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane" id="sun">
            <% unless @meetings_on_sunday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_sunday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
        </div>
      

      
    </div>
    <!-- 
    <div class="meeting-preview-container span4 hidden-phone">
      <div id="meeting-preview" data-spy="affix" data-offset-top="200">
        <%# unless @meeting.blank? %>
          <script type="text/javascript">
            $(document).ready(function() {
              $('#meeting-preview').html('<%#= Helper.escape_js( render "meeting" ) %>');
            });
          </script>
        <%# end %>
      </div>
    </div>
     -->
  </div>

</div>