<% title "All The District 19 AA Meetings" %>

<div class="meetings-header">
  <div class="container">   
    <div class="row">
      <div class="span12">
        <h1 class="meetings-header-title">Meetings</h1>
        <p class="meetings-header-cliche">Underneath every skirt is a slip.</p>
      </div>
    </div>
  </div>
</div>
  
<div class="meetings-body container">   
  <div class="row">
    <div class="meetings-listings-container span8">

      
      
        <div class="meetings-search-container">
          <%= form_tag meetings_path, :method => :get, class: "meetings-search-form navbar-form pull-left form-inline" do %>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-map-marker"></i></span>
              <%= text_field_tag :search, params[:search], placeholder: "#{ @user_location.ip }", class: "input" %>
            </div>
            <%= select_tag :distance, options_for_select([['2 Miles', 2], ['5 Miles', 5], ['10 Miles', 10], ['25 Miles', 25], ['100 Miles', 100]], 5) %>
            <%= submit_tag "Search", :name => nil, class: "btn" %>
          <% end %>
        </div>
      
        
        <% unless @meetings_on_monday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Monday</th></tr>
          <% @meetings_on_monday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>

        <% unless @meetings_on_tuesday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Tuesday</th></tr>
          <% @meetings_on_tuesday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>

        <% unless @meetings_on_wednesday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Wednesday</th></tr>
          <% @meetings_on_wednesday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>

        <% unless @meetings_on_thursday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Thursday</th></tr>
          <% @meetings_on_thursday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>

        <% unless @meetings_on_friday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Friday</th></tr>
          <% @meetings_on_friday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>
            
        <% unless @meetings_on_saturday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Saturday</th></tr>
          <% @meetings_on_saturday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>
      
        <% unless @meetings_on_sunday.blank? %>
        <table class="meetings-listing-table table">
          <tr><th colspan="2" class="meetings-listing-header">Sunday</th></tr>
          <% @meetings_on_sunday.each do |meeting| %>
            <%= render 'listing', :meeting => meeting  %>       
          <% end %>
        </table>
        <% end %>
      
      
      
      
      <%#= debug @meeting.week_days["thursday"] %>
      <%#= debug @meeting %>
      
    </div>
    
    <div class="meeting-preview-container span4 hidden-phone">
      <div id="meeting-preview" data-spy="affix" data-offset-top="200">
        <% unless @meeting.blank? %>
          <script type="text/javascript">
            $(document).ready(function() {
              $('#meeting-preview').html('<%= Helper.escape_js( render "meeting" ) %>');
            });
          </script>
        <% end %>
      </div>
    </div>
  </div>

</div>
