<% title "All The District 19 AA Meetings" %>

<!-- Get HTML5 Geolocation -->
<%- unless @lat_lng %>
  <script>
  $(function() {
    new ShowUp().getGeoLocation();
  });
  </script>
<%- end %>


<!-- Make a map -->
<script>
function initialize() {
  
  var locations = <%= @all_results.to_s.html_safe %>
  var boxList =[];
  
  // ===========
  // = The Map =
  // ===========
  var mapOptions = {
    // zoom: 9,
    center: new google.maps.LatLng(<%= @map_location.latitude %>, <%= @map_location.longitude %>),
    mapTypeControl: false,
    zoomControl: true,
    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.SMALL
    },
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  
  // ==========
  // = Bounds =
  // ==========
  var LatLngList = new Array ();
  var bounds = new google.maps.LatLngBounds();
  
  for (i = 0; i < locations.length; i++) {  
    LatLngList.push( new google.maps.LatLng(locations[i].latitude, locations[i].longitude) )
    bounds.extend (LatLngList[i]);
  }
  map.fitBounds (bounds);
  
  // ===========
  // = Markers =
  // ===========
  var marker
  var image = '<%= asset_path "aa-map-marker.png" %>';
  var close_button = '<%= asset_path("btn-close.png") %>';
  var i;
  
  for (i = 0; i < locations.length; i++) {  
    // plot the markers
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i].latitude, locations[i].longitude),
      map: map,
      id: i,
      title: locations[i].title,
      icon: image
    });
    
    var boxText = document.createElement("div");
    boxText.id = i;
    boxText.style.cssText = "border-bottom: 1px solid #bab6af; padding: 0px; background: #fff;";
    boxText.innerHTML = "<div class='info-box-container'><div class='info-box-header'><i>"+ Math.round(locations[i].distance) +" miles away</i><h5>"+ locations[i].address +"</h5></div><div class='info-box-body'><h5>"+ locations[i].title +"</h5>" + (locations[i].closed_meeting ? '<div class="closed-icon"></div>' : '') + "</div></div>";

    var myOptions = {
        content: boxText,
        disableAutoPan: false,
        maxWidth: 0,
        pixelOffset: new google.maps.Size(-157, 15),
        zIndex: null,
        boxStyle: {
            opacity: 1,
            width: "314px",
        },
        closeBoxMargin: "20px 12px 0px 0px",
        closeBoxURL: close_button,
        infoBoxClearance: new google.maps.Size(1, 1),
        isHidden: false,
        pane: "floatPane",
        enableEventPropagation: false
    };

    var ib = new InfoBox(myOptions);
    boxList.push(ib);
            
    // add listener for Marker
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        boxList[i].open(map, this);
      }
    })(marker, i));
    
    // add listener for InfoBox
    google.maps.event.addDomListener(boxList[i].content_,'click',(function(marker, i) {
      return function() {
        // alert('clicked ' + locations[i].title)
      }
    })(marker, i));
    
  }
  
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
  
<div class="meetings-body container">   
  <div class="row-fluid">
    <div class="meetings-listings-container span12">
      
      
        <h1><%= @lat_lng %></h1>
      
        <div class="meetings-map-container hidden-phone">
          <div id="map-canvas" class="meetings-map-canvas"></div>
        </div>
      
        <div class="meetings-search-container">
            <%= form_tag meetings_path, :method => :get, class: "meetings-search-form navbar-form pull-left form-inline" do %>
              <!-- query -->
              <% if (params[:search]) %>
                <%= text_field_tag :search, params[:search], placeholder: "Search for a meeting in city, zipcode etc...", class: "input giant-input" %>
              <% else %>
                <%= text_field_tag :search, "", placeholder: "Search for a meeting in city, zipcode etc...", class: "input giant-input" %>
              <% end %>
            
              <%= submit_tag "Search", :name => nil, class: "giant-search-btn btn" %>
            <% end %>
        </div>
        <ul class="nav nav-tabs">
          <li class="<%= Time.now.monday? ? "active" : "" %>"><a href="#mon" data-toggle="tab">Mon</a></li>
          <li class="<%= Time.now.tuesday? ? "active" : "" %>"><a href="#tue" data-toggle="tab">Tue</a></li>
          <li class="<%= Time.now.wednesday? ? "active" : "" %>"><a href="#wed" data-toggle="tab">Wed</a></li>
          <li class="<%= Time.now.thursday? ? "active" : "" %>"><a href="#thu" data-toggle="tab">Thu</a></li>
          <li class="<%= Time.now.friday? ? "active" : "" %>"><a href="#fri" data-toggle="tab">Fri</a></li>
          <li class="<%= Time.now.saturday? ? "active" : "" %>"><a href="#sat" data-toggle="tab">Sat</a></li>
          <li class="<%= Time.now.sunday? ? "active" : "" %>"><a href="#sun" data-toggle="tab">Sun</a></li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane <%= Time.now.monday? ? "active" : "" %>" id="mon">
            <% unless @meetings_on_monday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_monday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane <%= Time.now.tuesday? ? "active" : "" %>" id="tue">
            <% unless @meetings_on_tuesday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_tuesday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane <%= Time.now.wednesday? ? "active" : "" %>" id="wed">
            <% unless @meetings_on_wednesday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_wednesday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane <%= Time.now.thursday? ? "active" : "" %>" id="thu">
            <% unless @meetings_on_thursday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_thursday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane <%= Time.now.friday? ? "active" : "" %>" id="fri">
            <% unless @meetings_on_friday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_friday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane <%= Time.now.saturday? ? "active" : "" %>" id="sat">
            <% unless @meetings_on_saturday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_saturday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
          <div class="tab-pane <%= Time.now.sunday? ? "active" : "" %>" id="sun">
            <% unless @meetings_on_sunday.blank? %>
            <table class="meetings-listing-table table">
              <% @meetings_on_sunday.each do |meeting| %>
                <%= render 'listing', :meeting => meeting  %>       
              <% end %>
            </table>
            <% end %>
          </div>
        </div>
      

      
    </div>
    <!-- 
    <div class="meeting-preview-container span4 hidden-phone">
      <div id="meeting-preview" data-spy="affix" data-offset-top="200">
        <%# unless @meeting.blank? %>
          <script type="text/javascript">
            $(document).ready(function() {
              $('#meeting-preview').html('<%#= Helper.escape_js( render "meeting" ) %>');
            });
          </script>
        <%# end %>
      </div>
    </div>
     -->
  </div>

</div>