<div class="container meetings-detail">
  
  <div class="row">
    <div class="meetings-detail-search span12">
      <div class="row">
        <div class="span8">Search Area</div>
        <div class="pull-right">
          <% if current_user %>
            <%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn" %>
          <% end %>
          <%= link_to 'Back To Meetings', meetings_path, class: "meetings-detail-back btn btn-link" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- main -->
    <div class="meetings-detail-main span8">
      <div class="row">
        <div class="meetings-detail-column span4">
          <div class="meetings-detail-info">
            <h1><%= @meeting.title %></h1>
            <p class="meetings-detail-address"><strong><%= @meeting.address %></strong></p>
      
            <% if @meeting.description? %>
              <p><%= @meeting.description %></p>
            <% end %>
            
            <%= link_to "Directions", "http://maps.google.com?saddr=#{@saddr}&daddr=#{@meeting.address}", target: "_blank", class: "meetings-detail-directions-btn btn", data: { daddr: "#{@meeting.address}"} %>
      
              <div class="well">
                <div class="meetings-detail-time">
                  <b>Time</b>
                  <span><%= fomat_time @meeting.time %> to <%= get_meeting_end_time @meeting.time, @meeting.duration %></span>
                </div>
                <div class="meeting-listing-isclosed"><%= image_tag "icon-closed-meeting.png", data: { toggle: "tooltip" }, title: "Closed Meeting" if @meeting.closed_meeting %></div>
              </div>
              
      
            <div class="meetings-detail-tags">
              <b>Days:</b><br />
              <%= render 'days_of_week_tags', :meeting => @meeting  %>
            </div>
            <div class="meetings-detail-tags">
              <b>Tags:</b><br />
              <%= render 'tags', :meeting => @meeting  %>
            </div>
          </div>
      
        </div>
        <div class="meetings-detail-column span4">
          <!-- MAP  -->
          <div class="meetings-detail-map"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x350&sensor=false&zoom=16&markers=#{@meeting.latitude}%2C#{@meeting.longitude}" %></div>
        </div>
      </div>
    </div>
    
    <!-- Nearby -->
    <div class="meetings-detail-column meetings-detail-nearby span4">
      <h3>Meetings near <%= @meeting.title %></h3>
      <ul class="unstyled">
      <% for meeting in @meeting.nearbys(10) %>
        <li class="meetings-detail-nearby-listing">
          <div class="meeting-nearby-top-row"><%= link_to meeting.title, meeting, class: "meetings-detail-nearby-title" %> <%= image_tag "icon-closed-meeting.png", size: "11x10", class: "meetings-closed-icon" if meeting.closed_meeting %>  <span class="meetings-start-time"><%= fomat_time meeting.time %></span></div>
          <div class="meeting-nearby-btm-row"><%= meeting.address %> <span class="meetings-distance">(<%= meeting.distance.to_f.round(2) %> miles)</span></div>
        </li>
      <% end %>
      </ul>
    </div>

  </div>
  
  <%#= image_tag "http://maps.googleapis.com/maps/api/streetview?size=640x300&location=#{@meeting.latitude},%20#{@meeting.longitude}&fov=120&heading=235&pitch=10&sensor=false" %>
  
</div>
