<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="keywords" content="<%= meta_keywords %>" /> 
  <meta name="description" content="<%= meta_description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= body_classes %>">

<%= render 'shared/header' %>

  <% flash.each do |name, msg| %>
    <div class="container"><div class="row"><div class="span12">
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= content_tag :p, msg, :id => "flash_#{name}" %>
      </div> 
    </div></div></div> 
  <% end %>


  <%= yield %>


  <footer class="front-of-bg">
      <div class="footer">
         <div class="container">
            <div class="row">
              <div class="span12">
                <p>Built for you by <%= link_to "@saddacracker", "https://twitter.com/saddacracker", target: "_blank" %> for <%= link_to "His Glory", "http://www.aa.org/bigbookonline/en_appendiceii.cfm", target: "_blank" %></p>
              </div>
            </div>
         </div>
      </div>
  </footer>

</body>
</html>




